// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
@import '~bootstrap-icons/font/bootstrap-icons';
@import "../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css"; // Bootstrap
@import '~bootstrap/scss/bootstrap';
@import './media.css';
@import './utilities.css';

@font-face {
    font-family: heading1;
    src: url(../fonts/GalaxiePolaris-Medium.otf);
    font-weight: bold;
}

@font-face {
    font-family: heading2;
    src: url(../fonts/GalaxiePolaris-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: heading3;
    src: url(../fonts/GalaxiePolaris-Heavy.otf);
    font-weight: bold;
}


.mc-theme-dark,
:root {
    color: #ffffff;
    --on-theme-background: #000;
    --on-theme-text: #fff;
    --on-theme-text-hr-span-after: hsla(0, 0%, 100%, .3);
    --on-theme-border-contrast: hsla(0, 0%, 100%, .5);
    --on-theme-border-contrast-hover: #fff;
    --on-theme-applepay-border: none;
    --on-theme-badge-bg: #fff;
    --on-theme-badge-text: #000;
    --on-theme-badge-dim-bg: #272c33;
    --on-theme-badge-dim-text: #fff;
    --on-theme-carousel-dot: #596170;
    --on-theme-carousel-dot-active: #fff;
    --on-theme-carousel-arrow-bg: #272c33;
    --on-theme-carousel-arrow-bg-hover: #31333b;
    --on-theme-carousel-arrow: #949aa4;
    --on-theme-carousel-arrow-hover: #fff;
    --on-theme-dropdown-backdrop: rgba(0, 0, 0, .9);
    --on-theme-dropdown-border: #272c33;
    --on-theme-dropdown-bg: #191c21;
    --on-theme-dropdown-shadow: #000;
    --on-theme-dropdown-hover-bg: #272c33;
    --on-theme-tooltip-bg: #272c33;
    --on-theme-tooltip-border: #596170;
    --on-theme-tooltip-arrow: #596170;
    --on-theme-tooltip-arrow-after: #272c33;
    --on-theme-checkbox-bg: #191c21;
    --on-theme-checkbox-border: #949aa4;
    --on-theme-checkbox-checked: #fff;
    --on-theme-checkbox-active-border: #596170;
    --on-theme-checkbox-focused: #949aa4;
    --on-theme-checkbox-dis-bg: #f3f3f3;
    --on-theme-checkbox-dis-border: #dbdde1;
    --on-theme-checkbox-dis-active-border: #272c33;
    --on-theme-form-bg: #191c21;
    --on-theme-form-border: #272c33;
    --on-theme-form-elem-color: #fff;
    --on-theme-form-elem-placehold-color: hsla(0, 0%, 100%, .5);
    --on-theme-form-dis-bg: #272c33;
    --on-theme-form-dis-border: none;
    --on-theme-form-dis-active: none;
    --on-theme-form-dis-elem: hsla(0, 0%, 100%, .5);
    --on-theme-form-append: hsla(0, 0%, 100%, .3);
    --on-theme-radio-bg: #191c21;
    --on-theme-radio-border: #272c33;
    --on-theme-radio-checked: #fff;
    --on-theme-radio-dis-bg: var(--mc-theme-radio-bg);
    --on-theme-radio-dis-border: none;
    --on-theme-select-menu-bg: #191c21;
    --on-theme-select-menu-border: #272c33;

    --on-color-primary-default: var(--mc-color-primary-500);
    --on-color-primary-hover: var(--mc-color-primary-600);
    --on-color-primary-pressed: var(--mc-color-primary-700);
}

body {
    margin: 0;
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--on-theme-background);
    font-family: "Nunito", sans-serif;
}

nav {
    background-color: var(--on-theme-background) !important;
}

.btn-primary {
    background-color: var(--on-color-primary-default);
    border-color: var(--on-color-primary-default);
    color: #fff;
}

.carousel-caption {
    bottom: 75.25rem;
}

.card-image {
    height: 399px;
    overflow: hidden;
}

div#au-slider {
    height: 650px;
    overflow: hidden;
}

.form-control[readonly] {
    background-color: #fff;
}

.form-floating>label {
    color: #000 !important;
}

label {
    color: #000 !important;
}

.nounderline {
    text-decoration: none !important
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: Heading1;
    color: #ffffff;
}

.bold-1 {
    font-family: heading1 !important;
}

.bold-2 {
    font-family: heading2 !important;
}

.bold-3 {
    font-family: heading3 !important;
}

.content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

// .content-title {
//     position: absolute;
//     bottom: 30px;
// }

.section-elements .icon-box {
    display: block;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
    padding: 2.8rem 0;
    background: #fff;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 3rem;
}

.accordion-button {
    background-color: #000 !important;
    color: #ffffff !important;
}

.section-elements .icon-box i {
    font-size: 2.5rem;
    color: #0169fe;
    position: relative;
}

.section-elements .icon-box h5 {
    position: relative;
    font-size: .7rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1.2rem 0 0;
}

.carousel-caption {
    left: 5%;
}

.carousel-item {
    //  height: 650px;
}

button.owl-prev {
    position: absolute;
    top: 35% !important;
    font-size: 2rem;
}

button.owl-next {
    position: absolute;
    top: 35% !important;
    font-size: 2rem;
}

button.owl-next {
    right: -9px;
}

button.owl-prev {
    left: -8px;
}

button.owl-next,
button.owl-prev,
button.raised {
    background-color: #fff !important;
    box-shadow: 0 2px .25rem 0 rgba(0, 11, 38, .2) !important;
    color: #342c27 !important;
    height: 2.5rem !important;
    min-height: 2rem !important;
    width: 2.5rem !important;
    border-radius: 50%;
}

.minipopup-area {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 1.1em;
    text-align: center;
    z-index: 20002
}

.minipopup-box {
    position: absolute;
    right: -100px;
    text-align: left;
    margin: auto auto 20px;
    padding: 10px;
    line-height: 1.4;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.08);
    word-break: break-word;
    transform: translateY(-100%);
    width: 300px;
    z-index: 1000;
    background: #fff;
    opacity: 0;
    transition: right 0.4s ease-in-out, opacity 0.4s ease-in-out
}

.minipopup-box.active {
    right: 0;
    opacity: 1
}

.minipopup-box .product {
    display: flex;
    align-items: center;
}

.minipopup-box figure {
    max-width: 60px;
    margin-right: 10px;
    margin-bottom: 0
}

.minipopup-box .product-detail {
    font-family: Poppins, sans-serif;
    font-weight: 500
}

.minipopup-box .product-detail .product-name {
    display: inline-block;
    color: #222529;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.4em
}

.minipopup-box .product-detail .product-name:hover {
    color: #08C
}

.minipopup-box .product-detail p {
    font-size: 12px;
    letter-spacing: -0.025em;
    margin-top: 0.5rem;
    margin-bottom: 0
}

.minipopup-box .product-action .btn {
    min-width: 120px;
    letter-spacing: 0.025em;
    font-size: 11.2px;
    padding: 11.2px 22.4px
}

.minipopup-box .product-action .btn.viewcart {
    background-color: #efefef;
    color: #000
}

.minipopup-box .product-action .btn.checkout {
    float: right
}

button.mfp-close {
    position: absolute;
    top: 0;
    right: 0;
    overflow: visible;
    cursor: pointer;
    border: 0;
}

// button.owl-next {
//     right: 0;
// }