// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
@import "../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css"; // Bootstrap
@import '~bootstrap-icons/font/bootstrap-icons';
@import '~bootstrap/scss/bootstrap';
.mt-7 {
    margin-top: 7rem !important;
}

.mt-9 {
    margin-top: 11rem !important;
}

.form-control[readonly] {
    background-color: #fff;
}

.nounderline {
    text-decoration: none !important
}

.section-elements .icon-box {
    display: block;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
    padding: 2.8rem 0;
    background: #fff;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 3rem;
}

.section-elements .icon-box i {
    font-size: 2.5rem;
    color: #0169fe;
    position: relative;
}

.section-elements .icon-box h5 {
    position: relative;
    font-size: .7rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1.2rem 0 0;
}

.carousel-item {
    //  height: 650px;
}

button.owl-prev {
    position: absolute;
    top: 50% !important;
    font-size: 2rem;
}

button.owl-next {
    position: absolute;
    top: 50% !important;
    font-size: 2rem;
}

button.owl-next {
    right: -9px;
}

button.owl-prev {
    left: -8px;
}

button.owl-next,
button.owl-prev,
button.raised {
    background-color: #fff!important;
    box-shadow: 0 2px .25rem 0 rgba(0, 11, 38, .2)!important;
    color: #342c27!important;
    height: 2.5rem!important;
    min-height: 2rem!important;
    width: 2.5rem!important;
    border-radius: 50%;
}

// button.owl-next {
//     right: 0;
// }